<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>game</title>
</head>

<body>

    <h1>GAME TIME!</h1>
    <form action="/madlib">
        <label for="person">who is your favorite person?</label>
        <input type="text" name="person" id="person" value="type your name"><br>

        <label for="color">what's your favorite color?</label>
        <select id="color" name="color"><br>
            <option value="yellow">yellow</option>
            <option value="blue">blue</option>
            <option value="pink">pink</option>
        </select>

        <label for="noun">name a noun</label>
        <select id="noun" name="noun">
            <option value="work">work</option>
            <option value="home">home</option>
            <option value="city">city</option>
        </select>

        <label for="adjective">name a adjective</label>
        <select id="adjective" name="adjective">
            <option value="brave">brave</option>
            <option value="kind">kind</option>
            <option value="helpful">helpful</option>

            <input type="submit" value="Submit">
    </form>


</body>

</html>